{% extends 'base.html' %}

{% block title %}推主{% endblock %}
{% load staticfiles %}

{% block content %}
    {{ block.super }}
    {# Banner #}
	<br><br>
    <div class="jumbotron">
                <h1>一公里</h1>
                <p class="lead">发现身边的美好</p>
                
                <p>
                    <a class="btn btn-lg btn-success" href="#" role="button">Android客户端</a>
                   <a class="btn btn-lg btn-success" href="#" role="button">IOS客户端</a>
                </p>
    </div>
             
	
 
{% endblock %}